.fund-info-card {
    background: $white;
    border-radius: 10px;
    box-shadow: 0 20px 25px -15px $boxshadowgray;
    max-width: 450px;
    margin: 20px 0;
    &:hover {
        box-shadow: 0 20px 25px -15px $boxshadowhover;
        transform: scale(1.01);
    }
    .fund-title {
        display: flex;
        font-weight: 600;
        align-items: center;
        text-decoration: none;
        margin-bottom: 20px;
        .fund-icon {
            width: 64px;
            border-radius: 20px;
            margin-right: 10px;
        }
    }
    .fund-description {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-weight: normal;
        font-size: 18px;
        font-weight: 1.2;
    }
    .card-footer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .creator-icon {
            width: 48px;
            height: 48px;
            border-radius: 20px;
            margin-right: 10px;
        }
        .creator-name {
            font-size: 14px;
        }
    }
}
@media #{$ipadLandscape} {
}
@media #{$ipadPortrait, $mobile} {
}
