.exchange-page,
.transaction-page,
.login-page,
.signup-page,
.create-page {
    .row {
        justify-content: center;
    }
}
.login-page,
.signup-page {
    .row .col-md-8 {
        margin: 50px auto;
        padding: 20px;
        background-color: $bggrey;
        border-radius: 20px;
    }
}
.defi-exchange-page {
    .row {
        height: 100%;
        .col {
            margin: auto;
            .connect-btn {
                margin: auto;
                background-color: $purple;
                padding: 1em 2em;
                border-radius: 10px;
                align-items: center;
                font-size: 24px;
                font-weight: 500;
                span {
                    margin-left: 10px;
                }
            }
        }
    }
    @media #{$ipadPortrait, $mobile} {
        .row .col {
            .connect-btn {
                font-size: 20px;
                padding: 15px 25px;
            }
        }
    }
}
.switch-modal {
    // .login-container, .signup-page .row .col {
    .login-container,
    .signup-form-container {
        margin: 50px 50px 20px;
        padding: 0;
    }
    .link-container {
        padding: 20px 50px;
        display: flex;
        align-items: baseline;
        justify-content: center;
        color: $darkgrey;
        .title {
            margin: 0 20px 0 0;
        }
        .link-btn {
            text-decoration: none;
            background-color: $white;
            margin: 0;
            color: $darkgrey;
            &:hover {
                color: $grey;
            }
        }
    }
}
.reset-password-container {
    .row {
        justify-content: center;
        form {
            margin-top: 20px;
        }
    }
}
.landing-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    .header-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
		padding: 20px;
        text-align: center;
        max-width: 850px;
        .bb-logo {
            max-width: 130px;
        }
    }
	.type-block {
		text-align: center;
		margin: 30px auto;
		padding: 20px;
		border-radius: 20px;
		box-shadow: 0 20px 25px -15px $boxshadowgray;
		border: solid 1px #dbe0e2fb;
		background-color: #f5f5f5;
	}
	.link-wrapper {
		display: flex;
		justify-content: space-evenly;
		// margin-top: 50px;
		.finance-btn {
			background-color: $purple;
			padding: 1em 2em;
			border-radius: 10px;
			align-items: center;
			font-size: 24px;
			font-weight: 500;
			width: 350px;
			margin: 20px;
			color: $white;
			text-align: center;
			text-decoration: none;
			&:hover {
				opacity: 0.9;
			}
		}
		@media #{$mobile} {
			.finance-btn {
				font-size: 18px;
				width: 250px;
			}
		}
	}
}
